html{
    --main-color:#9356DC ;
    --second-color:#FF79DA ;
    --third-color:#99E2D0;
}
*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0 auto;
}
.container{
    font-family: 'Roboto';
}
.HeaderLogo{
    width: 100%;
    position: relative;
}
.logoOhmyfood{
   text-align: center; 
   padding-top: 14px;
   font-family: 'Shrikhand', cursive;
   font-size: 30px;
}
.HeadLocation{
    display: flex;
    background-color: #EAEAEA;
    padding-top: 16px;
    padding-bottom: 16px;
}
.Vector{
    width: 12px;
    height: 16px;
    padding-right: 17px;
    padding-left: 104px;
}
.ville{
    font-size: 16px;
    font-weight: 500;
}
.section1{
    background-color:  #F7F7F7;
    padding-bottom: 57px;
}
.Reservez{
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    padding-top: 39px;
    margin-bottom: 12px;
}
.Decouvrez{
    font-size: 18px;
    text-align: center;
    font-weight: 300;
}
.bouttonExplorer  .Explorer{
    background: linear-gradient(200.64deg, var(--main-color) -5.2%, var(--second-color) 110.74%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    border: transparent;
    padding: 13px 18.75px;
}
.Explorer{
    font-size: 16px;
    color: white;
}
.bouttonExplorer{
    padding-top: 40px;
    text-align: center;
}
.Titrefonctionnement{
    padding-top: 48px;
    font-size: 24px;
    font-weight: 700;
}
.section2{
    padding-left: 20px;
}
.titre_item {
    background: #F7F7F7;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    margin-top: 26px;
    border-style: none;
    width: 90%;
    height: 72.38px;
}
.text-fonctionnement{
    border: transparent;
    background: #F7F7F7;
    padding-top: 28px;
    padding-left: 27px;
    font-size: 16px;
    font-weight: 500;
    line-height: 72px;
  }
.Portable{
    width:13.02px;
    height: 20px;
    padding-left:22px;
    color:#7E7E7E;
}
.numero{
   margin-left: -5px;
    padding: 3px 7px;
    color:white;
    background-color: var(--main-color);
    border-radius: 50%;
}
.menu{
    width: 16px;
    height: 16px;
    padding-left: 23px;
    color:#7E7E7E;
}
.store{
    width: 18px;
    height: 18px;
    padding-left: 24px;
    color:#7E7E7E;
}
.section3{
    padding-left: 20px;
    background: #F7F7F7;
    margin-top: 68px;
    padding-bottom: 64px;
}
.titreRestaurants{
    font-size: 24px;
    font-weight: 700;
    padding-top: 54px;
    margin-bottom: 20px;
}
.card-palette {
    margin-top: 40px;
}
.carte-restaurant{
    width:90%;
    height: 251px;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-bottom: 18px;
}
.badgeNouveau{
    width: 78.82px;
    height: 29px;
    background: #99E2D0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    position: absolute;
    color: #008766;
    text-align: center;
    padding-top: 7px;
    font-size: 14px;
    left: 72%;
    top: 10%;
}
.cards{
    text-decoration: none;
} 
.image-box{
    height: 163px;
    position: relative;
    object-fit: cover;
} 
.image-box img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.titreMenu{
    font-size: 18px;
    font-weight: 700;
    padding-left: 12.81px;
    color: #000000;
}
.placeRestaurant{
    font-size: 17px;
    font-weight: 300;
    padding-left: 12.81px;
    padding-top: 5px;
    color: #000000;
}
.infoRest{
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
}
.heart{
    padding-top: 23px;
    padding-right: 24.63px;
    color: #000000;
    width: 21.68px;
    height: 21px;
    font-size: 25px;
}
.PiedDuPage{
    width: 100%;
    background: #353535;
    height: 197px;
}
.logoOhmyfoodFooter{
    font-family: 'Shrikhand', cursive;
    font-size: 18px;
    font-weight: 400;
    padding-top: 22px;
    color: #fff;
    padding-left: 25px;
}
.footer_nav ul{
    list-style-type: none;
    line-height: 25px;
    padding-left: 25px;
    padding-top: 16px;
}
.footer_nav--link{
    color: #fff;
}
a{
    text-decoration: none;
    color: inherit;
}
.footer-icone{
    padding-right: 11px;
    width: 11px;
}
.fonctionnement-item:hover, .fonctionnement-item:hover .text-item{
    background: #F5EDFF;
}
.fonctionnement-item:hover i{
   color:var(--main-color);
}

/* la palette du goût */

.entete{
    display: flex;
}
.imageEntete{
    background-image: url(../images/restaurants/paletteDuGout.jpg);
}
.imageDelice{
    background-image: url(../images/restaurants/DeliceDesSens.jpg);
}
.imageEnchante{
    background-image: url(../images/restaurants/noteEnchante.jpg);
}
.imageAlaFrancaise{
    background-image: url(../images/restaurants/ALaFrancaise.jpg);
}
.image{
    height: 350px;
    background-size: cover;
    background-position: center;
    width: 100%;
}
.back{
    width: 17.2px;
    height: 16px;
    padding-left: 23px;
    padding-top: 26px;
    padding-right: 64.8px;
    color: #353535;
}
.frame{
    background: #F7F7F7;
    position: absolute;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    top: 320px;
    padding-bottom: 40px;
}
.titrePlusCoeur{
    display: flex;
    justify-content: space-between;
    padding-right: 41px;
    padding-top: 32px;
    width: 100%;
}
.titre{
    font-family: 'Shrikhand', cursive;
    font-weight: 400;
    font-size: 28px;
    padding-left: 17px;
}
.heartMenu{
    padding-top: 8px;
    padding-right: 23px;
    font-size: 25px;
    position: relative;
}
.restaurant__like {
    color: white;
    -webkit-text-stroke: 1px black;
    transition: color 1s;
    background: linear-gradient(160deg, #FF79DA, #9356DC);
    -webkit-background-clip: text;
  }
  .restaurant__like:hover {
    color: transparent;
    -webkit-text-stroke-color: #9356DC;
  }
  .restaurant__like:active {
    color: transparent;
    -webkit-text-stroke-color: #9356DC;
  }
header{
    position: relative;
}
.frameEntree{
    padding-top: 26px;
    padding-left: 13px;
}
.entree {
    font-size: 16px;
    font-weight: 300;
    border-bottom:3px solid #99E2D0;
    width: 40px;
    height: 27px;
}
.cardEntre{
    background: #FFFFFF;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    border-radius: 15.0431px;
    margin-top: 12px;
    display: flex;
    height:68.07px;
    width: 100%;
    overflow: hidden;
}
.start_card{
    animation: apparition-start 1s ease 1;
}
@keyframes apparition-start{
    0%{
        opacity: 0;
        transform: translateY(40px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.plat_card{
    animation: apparition-plat 1s ease 1;
}
@keyframes apparition-plat{
    0%{
        opacity: 0;
        transform: translateY(40px);
    }
    30%{
        opacity: 0;
        transform: translateY(40px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.dessert_card{
    animation: apparition-dessert 1s ease 1;
}
@keyframes apparition-dessert{
    0%{
        opacity: 0;
        transform: translateY(40px);
    }
    60%{
        opacity: 0;
        transform: translateY(40px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.check-animation{
    display: flex;
    width: 59px;
    background: #99E2D0;
    border-radius: 0px 15px 15px 0px;
    margin-right: -61px;
    transition: margin-right 2s;
}
.check-animation i{
    transition: transform 1s ease-in-out;
}
.cardEntre:hover .check-animation {
    margin-right: 0;
}
.cardEntre:hover i{
    transform: rotate(360deg);
}
.boxPrix{
    padding-top: 39px;
    display: flex;
    flex-basis: 15%;
    justify-content: flex-end;
    padding-right: 20px;
}
.cerclecheck{
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    margin-top: 25px;
    margin-right: 19px;
    margin-left: 19px;
    color: #99E2D0;
}
.titreEntree{
    padding-top: 12.03px;
    padding-left: 10.53px;
    padding-bottom: 12.03px;
    flex-basis: 85%;
    white-space: nowrap;
}
.nomEntree{
    font-size: 18px;
    font-weight: 500;
}
.description{
    font-size: 15px;
    font-weight: 300;
    padding-top: 7px;
}
.prix{
    font-weight: 500;
}
.framePlats{
    padding-top: 40.47px;
    padding-left: 13px;
}
.plats{   
    padding-left: 37px;
}
.platsO{
    width: 40px;
    height: 27px;
    font-size: 16px;
    font-weight: 300;
    border-bottom:3px solid #99E2D0;
}
.frameDessert{
    padding-top: 40px;
    padding-left: 13px;
}
.bouttonCommander{
    padding-top: 53px;
    text-align: center;
   
}
.bouttonCommander  .commander{
    background: linear-gradient(200.64deg, var(--main-color) -5.2%, var(--second-color) 110.74%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    border: transparent;
    padding: 13px 16px;
    width: 186px;
    height: 50px;
}
.commander{
    font-size: 16px;
    color: white;
    font-weight: 500;
}
.bouttonCommander:hover  .commander:hover{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);

}
.PiedDuPage1{
    width: 100%;
    background: #353535;
    padding-left: 25px;
    height: 197px;
    color: white;
    margin-top: 1027px;
}
/** page meuu la note enchante**/
.PiedDuPageNote{
    width: 100%;
    background: #353535;
    padding-left: 25px;
    height: 197px;
    color: white;
    margin-top: 1107px;
}
/** page loader**/
.loader-container{
    position:fixed;
    top: 0;
    left: 0;
    z-index: 20;
    background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: load-conteneur 4s linear forwards, minimiser 100ms 3s forwards;
}
@keyframes load-conteneur{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes minimiser{
    0%{
        z-index: 2;
    }
    100%{
        z-index: -1;
    }
}
.loader-icone{
    display: block;
    width: 100px;
    height: 100px;
    border: 5px solid white;
    border-color: white transparent white transparent;
    border-radius: 50%;
    animation: loader 1s infinite ease-in-out;
}
@keyframes loader{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@media only screen and (min-width:768px) and (max-width: 1440px){
   .HeadLocation{
    justify-content: center;
   } 
   .Vector{
    padding-left: 0px;
   }
   .fonctionnement{
    display: flex;
   }
   .fonctionnement .titre_item{
    width: 30%;
    margin: auto;
   }
   .Titrefonctionnement{
    margin-bottom: 28px;
   }
   .lesRestaurants{
     display: flex;
   }
   .lesRestaurants .cards{
     width: 25%;
    }
   .carte-restaurant{
     margin-top: 0px;
     margin-right: 26px;
     
   }
   .cards{
        padding-top: 40px;
    }
    .PiedDuPage{
        width:auto;
        display: flex;
        justify-content:flex-start;
        flex-direction: row-reverse;
        padding-right: 108px;
        height: 114px;
    }
    .logoOhmyfoodFooter{
        padding-top: 49px;
    }
    .footer_nav{
        display: flex;     
    }
    .footer_nav--link{
       padding-right: 40px;
       padding-top: 33px;
    }
    /* version desktop des pages menu*/
   .entete{
    width: auto;
    padding-left: 75px;
   }
   .back{
    padding-right: 527.8px;
   }
   
   .frame{
    top: 395px;
    margin: auto;
    width: 75%;
    transform: translateX(-50%);
    left: 50%;
   }
   .titrePlusCoeur{
    justify-content: center;
    padding-right:0px;
   }
   .titre{
    padding-right: 24px;
   }
   .cardEntre{
    width: 60%;
   }
   .frameEntree , .framePlats, .frameDessert{
    transform: translateX(20%);
    padding-left: 0px;
   }
   .PiedDuPage1{
    width:auto;
    display: flex;
    justify-content:flex-start;
    flex-direction: row-reverse;
    padding-right: 108px;
    margin-top: 1120px;
    height: 114px;
   }
   .PiedDuPageNote{
    width:auto;
    display: flex;
    justify-content:flex-start;
    flex-direction: row-reverse;
    padding-right: 108px;
    height: 114px;
    margin-top: 1208px;
   }
}